#nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(135, 129, 129, 0.177);
    position: sticky;
    top: 0;
    background-color: white;
}

#nav>img {
    margin-bottom: 10px;
}

.main {
    margin-top: 30px;
    width: 70%;
    margin: auto;
    display: flex;
}

.card {

    /* border: 2px solid red; */
    height: 100vh;
    width: 60%;
    margin-top: 50px;
    /* margin: auto; */
    text-align: justify;
}

.dash {
    /* border: 2px solid green; */
    width: 40%;
    border-left: 2px solid rgba(189, 181, 181, 0.533);

    background-color: rgba(165, 188, 208, 0.242);

    font-size: 18px;
    height: 100vh;

}

.dash img {
    width: 29px;
}

input {
    margin-left: 20px;
    margin-bottom: 15px;
}

#in {
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(231, 231, 9, 0.54);
}

#in>input {
    background-color: black;
}

#confirm {
    font-size: 30px;
    border-radius: 13px;
    background-color: aliceblue;
    border: 1px solid rgba(132, 141, 120, 0.544);
    /* border: 3px solid red; */
    padding: 10px;
    padding-left: 121px;
    padding-right: 121px;
    display: block;
    margin: auto;

}